JOURNAL ENTRIES

<% @journals.each do |journal| %>
    <strong><%= journal.title %></strong>
    <p>Date: <%= journal.date %></p>
    <p>Entry: <%= journal.entry %></p>
    <p>Mood: <%= journal.mood %></p>
    <br><br>
<% end %>


