<!DOCTYPE html>
<h1> This is the journal entry form </h1>
<form action='/journals' method="POST"><br>
Title: <input type=text name="title"><br>
Date: <input type=date name="date"><br>
Entry: <input type=text name="entry"><br>
Mood: <input type=text name="mood"><br>
<input type=submit>
</form>
</html>