<!DOCTYPE html>
<h1> This is the journal entry form </h1>
<form action='/journals' method="POST">
Title: <input type=text name="title">
Date: <input type=date name="date">
Entry: <input type=text name="entry">
Mood: <input type=text name="mood">
<input type=submit>
</form>
</html>